@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 10px;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
}

.dropdown {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

button[aria-expanded=true] .glyphicon-chevron-left {
  display: none;
}
button[aria-expanded=false] .glyphicon-chevron-down {
  display: none;
}

.overview {
  padding-right: 8px;
}

button[aria-expanded=true] .overview {
  display: none;
}
button[aria-expanded=false] .overview {
  display: unset;
}

.table caption {
  padding-left: 8px;
}

#phone_expanded {
  max-height: 300px;
  overflow: auto;
}
